<!DOCTYPE html>
<html lang="en">
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="description" content="Indian Pharmacist Association">
      <meta name="keywords" content="Indian, Pharmacist,Association,IPA,medicine">
       <meta name="author" content="Varun Sahil">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Register</title>
      <link rel="stylesheet" type="text/css" href="/css/style.css">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>
<body>

<div class="container-fluid bg">
  <h2 class="page-header c w">Register</h2>  
    <div>
      <a href="/"><img src="/IPALOGOFIT.jpg" class="imageresize"></a>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-12" id="form">
      <form method="post" action="/local/register" class="form-border">
         <div class="form-group">
          <label class="w">Name</label>
          <input type="text" class="form-control" placeholder="Name" name="name">
        </div>
        <div class="form-group">
          <label class="w">Username</label>
          <input type="text" class="form-control" placeholder="Username" name="username">
        </div>
         <div class="form-group">
          <label class="w">Email</label>
          <input type="email" class="form-control" placeholder="Email" name="email">
        </div>
        <div class="form-group">
          <label class="w">Password</label>
          <input type="password" class="form-control" placeholder="Password" name="password">
        </div>
        <div class="form-group">
          <label class="w">Confirm Password</label>
          <input type="password" class="form-control" placeholder="Password" name="password2">
        </div>
        <button type="submit" class="btn btn-danger">Submit</button>
      </form>
      </div>      
    </div>    
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

</body>
</html>