 <link rel="stylesheet" href="content.css">

<h1>ASSOCIATION AFFILIATED WITH IPA</h1>
<h3>Arunachal Registered Pharmacist Association</h3>
<h5>Itanagar 791111,<br>
Arunachal Pradesh</h5>
<br><br>
<h3>Chattisgarh Pharmacist Association</h3>
<h5>D.K. Compex, Near Hanuman Mandir, Raipur 4920001<br>
Chattisgarh.</h5>

 