 <link rel="stylesheet" href="content.css">
<h1>ASSOCIATION</h1>
<h4>Indian Pharmacist Association is a national level associatin working for the welfare of pharmacists. From the day of its inception association is constantly touching new heights. <br><br>

During the 6th pay Commission it was felt that representations of pharmacists were not sent to different authorities and it was decided to come up with an associatin which will represent each and every pharmacist of India by uniting all the pharmacists from each nook and corner of India.<br><br>

Sh. Abhay Kumar and Sh. Bhupendra Kumar are the founder of the association. Association is successful in uniting pharmacists of India under their guidance.</h4>

 