<link rel="stylesheet" href="content.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

<h1>BRANCHES</h1>
<h2>State Branches of Indian Pharmacist Association</h2><br>
<h3>Odisha State Branch</h3>

<table class="table table-hover">
    <thead>
      <tr>
        <th>Designation</th>
        <th>Designation Holder</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>President</td>
        <td>Sh. Manoranjan Jaysingh</td>
        
      </tr>
      <tr>
        <td>Vice President   </td>
        <td>Sh. Sushil Kumar Biswal </td>
        
      </tr>
      <tr>
        <td>Secretary</td>
        <td>Sh. Govinda Chandra Mishra</td>
      </tr>
      <tr>
        <td>Joint Secretary</td>
        <td>Sh. Subash Thati</td>
      </tr>
      <tr>
        <td>Treasurer</td>
        <td>Sh. Trilochan Parida</td>
      </tr>
    </tbody>
  </table>
                                                      

                                            
                                                       
                                                                                                     

<h3>Tripura State Branch</h3>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Designation</th>
        <th>Designation Holder</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>President</td>
        <td>Sh. Amir Ch. Nama Das</td>
        
      </tr>
      <tr>
        <td>Vice President   </td>
        <td>Sh. Pompi Dhar Bhattacharjee<br>Sh. Tutan Debnath </td>
        
      </tr>
      <tr>
        <td>Secretary</td>
        <td>Sh. Tutan Debnath</td>
      </tr>
      <tr>
        <td>Joint Secretary</td>
        <td>Sh. Monti Das<br>Sh. Mrinal Debnath </td>
      </tr>
      <tr>
        <td>Treasurer</td>
        <td>Sh. Jayanta Debnath</td>
      </tr>
      <tr>
        <td>Advisor </td>
        <td>Dr. Bindu Kumar</td>
      </tr>
    </tbody>
  </table>

<h3>Andaman & Nicobar Branch</h3>

Indian Pharmacist Association <br>
Andaman & Nicobar Branch<br>
Near Durga Mandir, Doctor's Colony Road,<br>
Nayagaon, Post. Shadipur, Port Blair 744106<br>

<table class="table table-hover">
    <thead>
      <tr>
        <th>Designation</th>
        <th>Designation Holder</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>President</td>
        <td>Sh. Sanjay Singh</td>
        
      </tr>
      <tr>
        <td>Vice President   </td>
        <td>Sh. K. Siva Kumar </td>
        
      </tr>
      <tr>
        <td>Secretary</td>
        <td>Sh. Ajay Gupta</td>
      </tr>
      <tr>
        <td>Joint Secretary</td>
        <td>Sh. Shyam Sunder Baral </td>
      </tr>
      <tr>
        <td>Organizer</td>
        <td>Sh. Rajeev Singh</td>
      </tr>
      <tr>
        <td>Advisor </td>
        <td>Dr. Bindu Kumar</td>
      </tr>
    </tbody>
  </table>
 
<h3>Rajasthan State Branch</h3>

A-8 A, Ashok Vihar, Manayawas,<br>
Mansarovar, Jaipur – 302020<br>

<table class="table table-hover">
    <thead>
      <tr>
        <th>Designation</th>
        <th>Designation Holder</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>President</td>
        <td>ShivRaj Vishnoi</td>
        
      </tr>
      <tr>
        <td>Vice President   </td>
        <td>Kuldeep Sharma </td>
        
      </tr>
      <tr>
        <td>Secretary</td>
        <td>Ashish Sharma</td>
      </tr>
      <tr>
        <td>Joint Secretary</td>
        <td>Lokesh Sharma Gautam </td>
      </tr>
      <tr>
        <td>Treasurer</td>
        <td>Piyush Jaimini</td>
      </tr>
    </tbody>
  </table>
 	 
 

<h3>Uttar Pradesh State Branch</h3>

<table class="table table-hover">
    <thead>
      <tr>
        <th>Designation</th>
        <th>Designation Holder</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>President</td>
        <td>Sh. Sandeep Chaurasia</td>
        
      </tr>
      <tr>
        <td>Vice President   </td>
        <td>Sh. R.C. Sharma </td>
        
      </tr>
      <tr>
        <td>Secretary</td>
        <td>Sh. Suneel Yadav</td>
      </tr>
      <tr>
        <td>Joint Secretary</td>
        <td>Sh. O.P. Yadav</td>
      </tr>
      <tr>
        <td>Treasurer</td>
        <td>Dr. Harlokesh Narayan</td>
      </tr>
    </tbody>
  </table>


<h3>Bihar State Branch</h3>

Pitambara Mandir Colony, <br>
Gulzarbagh, Patna 800007

<table class="table table-hover">
    <thead>
      <tr>
        <th>Designation</th>
        <th>Designation Holder</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>President</td>
        <td>Sh. Rajnath Kumar</td>
        
      </tr>
      <tr>
        <td>Vice President   </td>
        <td>Sh. Mohd. Shadab Ahmad Chand</td>
        
      </tr>
      <tr>
        <td>Secretary</td>
        <td> Sh. Shitesh Kumar</td>
      </tr>
      <tr>
        <td>Joint Secretary</td>
        <td>Sh. Ravi Kumar</td>
      </tr>
      <tr>
        <td>Treasurer</td>
        <td>Sh. Jitendra Kumar</td>
      </tr>
      <tr>
      	<td>Media Interchange</td>
      	<td>Sh. Jitendra Kumar</td>
      </tr>
    </tbody>
  </table>
 
 

<h3>Local Branch</h3>

Jalgaon Local Branch <br>
2/899 SURMAZ Villa,<br>
KGN Colony, Chopda,<br>
Dist- Jalgaon 425107, Maharashtra<br>

<table class="table table-hover">
    <thead>
      <tr>
        <th>Designation</th>
        <th>Designation Holder</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>President</td>
        <td>Md. Rageeb</td>
        
      </tr>
      <tr>
        <td>Vice President   </td>
        <td>Tabrej A. Jabbar Mujawar </td>
        
      </tr>
      <tr>
        <td>Secretary</td>
        <td>Bharat V. Jain</td>
      </tr>
      <tr>
        <td>Joint Secretary</td>
        <td>Sandeep R. Pawar</td>
      </tr>
      <tr>
        <td>Treasurer</td>
        <td>Tanvir Y. Shaikh</td>
      </tr>
    </tbody>
  </table>


<h3>Malegaon Local Branch</h3>

25/2, Opp. Noorani Masjid, Nayapura,<br>
Malegaon, Dist Nasik, Maharashtra<br>

<table class="table table-hover">
    <thead>
      <tr>
        <th>Designation</th>
        <th>Designation Holder</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>President</td>
        <td>Irfan Ahmad</td>
        
      </tr>
      <tr>
        <td>Vice President   </td>
        <td>Tisage Jayant </td>
        
      </tr>
      <tr>
        <td>Secretary</td>
        <td>Mujahid Akhtar</td>
      </tr>
      <tr>
        <td>Joint Secretary</td>
        <td>Mohammed Saad</td>
      </tr>
      <tr>
        <td>Treasurer</td>
        <td>Israil Ahmed</td>
      </tr>
    </tbody>
  </table>


 

<h3>Burhanpur Local Branch</h3>

26/1, Ghulam Mohamed Khan Marg,<br>
Mominpura Burhanpur, M.P. 450331<br>
<table class="table table-hover">
    <thead>
      <tr>
        <th>Designation</th>
        <th>Designation Holder</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>President</td>
        <td>Sh. Abrar Raza </td>
        
      </tr>
      <tr>
        <td>Vice President   </td>
        <td>Sh. Ganesh Mahajan</td>
        
      </tr>
      <tr>
        <td>Secretary</td>
        <td>Sh. Deepak Soni</td>
      </tr>
      <tr>
        <td>Joint Secretary</td>
        <td>Sh. Ikramuddin,<br> Sh. Kalimullah</td>
      </tr>
      <tr>
        <td>Treasurer</td>
        <td>Sh. Jhangir Tadvi</td>
      </tr>
      <tr>
        <td>Body Members</td>
        <td>Sh. Shailesh Mishra,<br> Sh. Mohd. Asif,<br> Sh. Mahesh Rathore,                                            Sh. Tausif Ansari</td>
      </tr>
    </tbody>
  </table>
