<link rel="stylesheet" href="content.css">
<h1>Head Office:</h1>
<h5>Indian Pharmacist Association (IPA)<br>
B-18, Lane 7, Shashi Garden,<br>
Mayur Vihar Phase 1,<br>
Delhi 110091. </h5>

<h3>Registered Office</h3>
<h5>
Indian Pharmacist Association (IPA)<br>
WIMBERLYGUNJ<br>
SOUTH ANDAMAN -744206<br>
ANDAMAN & NICOBAR ISLANDS<br>
PH # 0312-257398.
</h5>
<h3>
Email us
</h3>
<h5>
President: president.ipa@hotmail.com
<br>
Secretary: secretary.ipa@hotmail.com
</h5>