*{
  text-align: justify;
}
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
	font-family: "Helvetica Neue",sans-serif;
    font-weight: lighter;
    float: left;
}

img{
	display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
