<link rel="stylesheet" href="content.css">
<h1>LINKS</h1>
<a href="http://irparailway.blogspot.com/">Indian Railway Pharmacist Association</a> <br>

<a href="http://www.pharmacists-association.medlineindia.com/">Pharmacist Employees Association, Delhi</a><br>

<a href="http://dpaup.com/index.html">Diploma Pharmacist Association, UP</a><br>

<a href="https://mohfw.nic.in/">Ministry of Health and Family Welfare<br>

<a href="https://finmin.nic.in/">Ministry of Finance</a><br>

<a href="http://persmin.nic.in/">Ministry of Personnel</a><br>

<a href="http://pci.nic.in/">Pharmacy Council of India</a>