<link rel="stylesheet" href="content.css">
<h1>Membership</h1>
Dear friends,
An association can stand when it has support from its members.  Therefore, you are invited to join us.  Join us as registered members of Indian Pharmacist Association (IPA).
<h3>Annual Member</h3>
A  pharmacist  on payment of Rs. 250/- can be a annual member.
<h3>Life Member</h3>
A pharmacist on payment of Rs. 1100/- can be a life member.
<h3>Student Life Member</h3>
A B.Pharm/D. Pharm student of pharmacy courses can be a Student member on payment of Rs. 600/- .  Their membership will be up to they complete course.  After that on payment of Rs. 500/ they can be Life member.
<h3>
For membership form <a href="http://ipa.medlineindia.com/ipamembershipform.pdf">Click Here</a> .
</h3>
Send your filled in membership form alongwith cheque or draft in favor of “Indian Pharmacist Association” at our Delhi Office.
<h3>
For Online Membership Form <a href="http://ipa.medlineindia.com/onlinemembership.html">Click here</a>
</h3>
<br>
Kindly deposit your membership fees directly in our account as per following details.<br><br>
<b>A/c holder name:</b> Indian Pharmacist Association<br>
<b>A/c Number:</b>0311127113<br>
<b>A/c type: </b>Saving bank account<br>
<b>Bank Name: </b>Kotak Mahindra Bank<br>
<b>Branch Address:</b>Ground & First Floor V 4, Mayur Plaza IV, Plot No 4 DDA LSC Scheme Mayur Vihar Phase I, New Delhi – 110 091<br>

<b>IFSC Code:</b> KKBK0000203<br><br>