<link rel="stylesheet" href="content.css">
<h1>OFFICE BEARERS OF ASSOCIATION</h1>
<h3>Founders</h3>
<h5>
Sh. Abhay Kumar <br>
Sh. Bhupendra Kumar 
</h5>
<h3>Advisor</h3>
<h5>
Sh. Rakesh Dahiya<br>
Drugs Control Officer<br>
Rohtak, Haryana.
</h5>
<h3>President</h3>
<h5>
Shri Abhay Kumar<br>
Mob: +919474248383<br>
email: president.ipa@hotmail.com
</h5>

<h3>General Secretary</h3>
<h5>
Shri Bhupendra Kumar<br>
Mob: +919910275976<br>
email: secretary.ipa@hotmail.com
</h5>

<h3>Vice President</h3>
<h5>
Shri Pinak Pani Kaushik
</h5>

<h3>Joint Secretary</h3>
<h5>
Shri. Ajay Kumar Gupta
</h5>

<h3>Members</h3>
<h5>
Shri. S.John Melt<br>

Shri. Naveen Kumar<br>

Shri. Sandeep Chaurasia<br>
</h5>